.middle > h2 {
  width: 750px;
}

.payment-box {
  width: 750px;
  display: flex;
}

.info-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  margin-right: 12px;
}

.info-payment {
  font-size: 0.8em;
}

.project-info {
  margin: 24px 0;
  display: flex;
}

.box-image-project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.image-project {
  height: 175px;
}

.title {
  color: #0000c5;
  font-weight: 600;
  font-size: 0.9em;
}

.description {
  font-size: 0.8em;
}

.price > label {
  font-weight: 600;
  font-size: 0.9em;
}

.card-box {
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.row {
  display: flex;
}
